


<!-- <div id="left_col" class="red">
  <h4>Username</h4>
  <div class="cash_box">
    <h5>Purse</h5>
    <div class="purse"></div>
    <a href="#" class="ten_piece">10</a>
    <a href="#" class="five_piece">5</a>
    <a href="#" class="one_piece">1</a>      
    <h5>Bet</h5>
    <div class="bet"></div>
  </div>
  
  <div class="stats">      
    <h5>Score</h5>
    <div class="score">0</div>
    <h5>Keepers</h5>
    <div class="keepers"></div>
  </div>
</div>

<div id="outer">
  <button id="roll" class="unavailable">Roll</button>
  <button id="fold">Fold</button>
  <button id="sure_fold">Are you sure you want to fold?</button>
  <button id="rematch">Rematch</button>
  <form>
    </br></br>
    <h4>First Player</h4>
    <div id="p1">
      <input type="checkbox" class="newuser" 
        onClick="if(this.checked == true){ reveal('#p1'); } else { conceal('#p1'); }" />
      <span>New User</span>
    
      <input type="checkbox" class="cpu" 
        onClick="if(this.checked == true){ isCPU('#p1'); } else { isHuman('#p1'); }" />
      <span>Computer</span>
    
      <input type="text" class="uname" value="Username1"
        onfocus="if(this.value == 'Username1') { this.value = ''; }" 
        onblur="if(this.value == '') { this.value = 'Username1'; }"/>
      
      <input type="text" class="pword" value="Password" 
        onfocus="if(this.value == 'Password') { this.value = ''; this.type = 'password' }" 
        onblur="if(this.value == '') { this.value = 'Password'; this.type = 'text' }"/>

      <input type="text" class="pword2" value="Retype Password" 
        onfocus="if(this.value == 'Retype Password') { this.value = ''; this.type = 'password' }" 
        onblur="if(this.value == '') { this.value = 'Retype Password'; this.type = 'text' }"/>
      </br></br>
    </div>
    
    <h4>Second Player</h4>
    <div id="p2">
      <input type="checkbox" class="newuser" 
        onClick="if(this.checked == true){ reveal('#p2'); } else { conceal('#p2'); }" />
      <span>New User</span>
    
      <input type="checkbox" class="cpu" 
        onClick="if(this.checked == true){ isCPU('#p2'); } else { isHuman('#p2'); }" />
      <span>Computer</span>
    
      <input type="text" class="uname" value="Username2"
        onfocus="if(this.value == 'Username2') { this.value = ''; }" 
        onblur="if(this.value == '') { this.value = 'Username2'; }"/>
      
      <input type="text" class="pword" value="Password" 
        onfocus="if(this.value == 'Password') { this.value = ''; this.type = 'password' }" 
        onblur="if(this.value == '') { this.value = 'Password'; this.type = 'text' }" />
    
      <input type="text" class="pword2" value="Retype Password" 
        onfocus="if(this.value == 'Retype Password') { this.value = ''; this.type = 'password' }" 
        onblur="if(this.value == '') { this.value = 'Retype Password'; this.type = 'text' }" />
      </br></br>
    </div>
  </form>
  <div id="inner"></div>
  <h1></h1>
  <h2>It was a TIE!</h2>
  <h5>The the pot will go to the winner of next round</h5>
  <h3>and took home <span></span> in winnings</h3>
  <button id="start">Start</button>
  <button id="end_turn" class="unavailable">End Turn</button>
  <button id="reset_scores" class="half_button">Reset Scores</button>
  <button id="new_players" class="half_button">New Player</button>
</div>

<div id="right_col" class="red">    
  <h4>Username</h4>
  <div class="stats">
    <h5>Score</h5>
    <div class="score">0</div>
    <h5>Keepers</h5>
    <div class="keepers"></div>
  </div>
  
  <div class="cash_box">
    <h5>Purse</h5>
    <div class="purse"></div>      
    <a href="#" class="ten_piece">10</a>
    <a href="#" class="five_piece">5</a>
    <a href="#" class="one_piece">1</a>
    <h5>Bet</h5>
    <div class="bet"></div>
  </div>
</div> -->
