* { margin: 0px; padding: 0px; text-decoration: none; font-family: helvetica; list-style-type: none;}
body {margin: 10px;}

table th {padding: 1px 3px;}

.red {background: gray; opacity: .5; pointer-events: none; cursor: default;}
.green {background: #FFFF7E;}
#left_col, #right_col, button {border-width: 3px; border-style: outset;}
button {}
button:hover, .green .purse {cursor: hand; border-style: inset;}
.stats .keepers .die, .unavailable {opacity: .5; pointer-events: none; cursor: default;}
.keepers, .score, .remaining, .cash_box div {border: 3px inset #FFFFAE;}
#outer, #left_col, #right_col {float: left;}
#left_col, #right_col { height: 310px; padding: 10px;}
#left_col, #right_col, #inner, #outer, button {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  }

#outer {height: 330px; width: 340px; position: relative;}
#inner {height: 215px; width: 320px; padding: 10px;}
#inner, #start, #end_turn, #reset_scores, #rematch, #new_players {position: absolute;}

#outer form { position: absolute; z-index: 1; margin-left: 15px;}
#outer form input[type=text], #outer form input[type=password], #outer form input[type=email] { font-size: 12px; color: #666; width: 150px;}
#outer form input[type=password] { font-size: 16px; height: 18px; font-weight: bold;}

#outer form input[type=checkbox], #outer form span {font-size: 11px; height: 28px; vertical-align: middle;}
#outer form input[type=checkbox] { margin-left: 15px;}

#outer form h4 { padding: 5px; width: 111px; float: left;}
#outer form .pword2 {margin: 3px 3px 3px 154px; visibility: hidden;}

#inner {top: 50px;}

#outer h1, #outer h2 {margin-top: 125px;}
#outer h1, #outer h2, #outer h3, #outer h5 {text-align: center;} 
#outer h1, #outer h2, #outer h3, #outer h5, #rematch, #end_turn, #reset_scores, #fold, #sure_fold, #new_players {display: none;}

#start, #roll, #fold, #sure_fold, #end_turn, #reset_scores, #rematch, #new_players {width: 320px; height: 50px; font-size: 22px; margin: 0px 10px;}
#fold, #roll, #rematch {margin-top: 1px;}
#start, #end_turn, #reset_scores, #new_players {top: 285px;}
#reset_scores.half_button, #new_players.half_button {width: 160px;}
#new_players.half_button {left: 162px;}

.cash_box, .stats {float: left;}
.cash_box div { }
.cash_box a {border: 3px dashed #333; border-radius: 30px; height: 25px; width: 25px;  padding: 5px; color: #333; 
  border-top-style:double; border-right-style:solid; border-bottom-style:double; border-left-style:solid;
  display: block; font-size: 22px; font-weight: bold; text-align: center; margin: 10px 5px 5px 10px;}  
#right_col .cash_box a {margin-left: 10px; margin-right: 5px;}

.ten_piece {background: blue;}
.five_piece {background: red;}
.one_piece {background: white;}

.green .purse:hover {background: #FFDD33;}
.green .cash_box a:hover {opacity: .6;}


.stats .score, .stats .keepers, .cash_box div {height: 22px; width: 25px; margin: 5px; padding: 6px 10px ; text-align: center; font-size: 18px;}
.stats h5, .cash_box h5 {text-align: center;}
.stats .keepers {height: 200px; padding: 0px 9px; width: 30px;}
.stats .keepers .die {margin-left: -5px;}
.remaining {display: none;}
.selected {background: yellow;}

.die {height: 30px; width: 35px; border-radius: 7px; border: 2px outset #444; position: relative; 
  margin-top: 5px; font-size: 0px;}
.die div {border-radius: 5px; height: 4px; width: 5px; background: #333; position: absolute; border:2px inset #444;}

.die._3 {margin-left: 10px;}
.die._1 {margin-left: 60px;}
.die._2 {margin-left: 110px;}
.die._4 {margin-left: 160px;}
.die._5 {margin-left: 210px;}
.die._6 {margin-left: 260px;}

.die._1 div {top: 11px; left: 13px;}

.die._2 div, .die._4 div {top: 5px; left: 6px;}
.die._2 div:last-child, .die._4 div:last-child {top: 17px; left: 20px;}

.die._3 div, .die._5 div {top: 3px; left: 4px;}
.die._3 div:nth-child(1), .die._5 div:nth-child(2) {top: 11px; left: 13px;}
.die._3 div:last-child, .die._5 div:last-child {top: 19px; left: 22px;}

.die._4 div:nth-child(1) {top: 5px; left: 20px;}
.die._4 div:nth-child(2) {top: 17px; left: 6px;}

.die._5 div:nth-child(1) {top: 3px; left: 22px;}
.die._5 div:nth-child(3) {top: 19px; left: 4px;}

.die._6 div {top: 1px; left: 4px;}
.die._6 div:nth-child(1) {top: 11px; left: 4px;}
.die._6 div:nth-child(2) {top: 21px; left: 4px;}
.die._6 div:nth-child(3) {top: 1px; left: 22px;}
.die._6 div:nth-child(4) {top: 11px; left: 22px;}
.die._6 div:nth-child(5) {top: 21px; left: 22px;}
